.accordion {
    .accordion-item {
        border-radius: 20px;
        border: 1px solid var(--primary-dark);
        margin-bottom: 24px;
        background-color: var(--primary);

        &:has(.show) {
            height: calc(100% - 24px);
        }
    }

    .accordion-header {
        border-radius: 20px;
        background-color: white;
    }

    .accordion-button {
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        border-bottom: 1px solid var(--primary-dark);
        background-color: transparent !important;

        &.collapsed {
            border-radius: 20px !important;
        }
    }

    .accordion-body {
        font-size: 14px;
    }

    .number {
        min-width: 62px;
        min-height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--primary-dark);
        color: var(--primary-dark);
        background-color: var(--primary-light);
        font-size: 24px;
        font-weight: 700;
        border-radius: 50%;
        margin-right: 8px;
    }

    .title {
        font-size: 18px;
        font-weight: 500;
    }

    .collapse {
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
    }
}
